In [1]:
import pandas as pd
cric_players = [['Virat Kohli','India','RCB','2024-03-29']
            ,['Rohit Sharma','India','MI','2024-03-29']
            ,['MS Dhoni','India','CSK','2024-03-29']
            ,['MS Dhoni','India','RPS','2016-03-29']
            ,['Pat Cummins','Australia','KKR','2016-03-29']    
            ,['Pat Cummins','Australia','SRH','2024-03-29'] 
           ] 
df_cric_players = pd.DataFrame(cric_players,columns=["PlayerName","Country","IPLTeams",'Last Played'])
df_cric_players

     PlayerName    Country IPLTeams Last Played
0   Virat Kohli      India      RCB  2024-03-29
1  Rohit Sharma      India       MI  2024-03-29
2      MS Dhoni      India      CSK  2024-03-29
3      MS Dhoni      India      RPS  2016-03-29
4   Pat Cummins  Australia      KKR  2016-03-29
5   Pat Cummins  Australia      SRH  2024-03-29

# Display list of the player playing in IPL along with there countries

In [2]:
df_Player_Country = df_cric_players[['PlayerName','Country']]

df_Player_Country

     PlayerName    Country
0   Virat Kohli      India
1  Rohit Sharma      India
2      MS Dhoni      India
3      MS Dhoni      India
4   Pat Cummins  Australia
5   Pat Cummins  Australia

In [3]:
df_Player_Country = df_cric_players[['PlayerName','Country']]
df_Player_Country = df_Player_Country.drop_duplicates()
df_Player_Country

     PlayerName    Country
0   Virat Kohli      India
1  Rohit Sharma      India
2      MS Dhoni      India
4   Pat Cummins  Australia

# Display list of the player playing in IPL along with there countries & one of the IPL team

In [6]:
df_Player_Country = df_cric_players[['PlayerName','Country','IPLTeams']]
df_Player_Country = df_Player_Country.drop_duplicates(['PlayerName'])
df_Player_Country

     PlayerName    Country IPLTeams
0   Virat Kohli      India      RCB
1  Rohit Sharma      India       MI
2      MS Dhoni      India      CSK
4   Pat Cummins  Australia      KKR

# Display list of the player playing in IPL along with there countries & there latest teams

In [9]:

df_cric_players.sort_values(by='Last Played', ascending=True)

df_cleaned = df_cric_players.drop_duplicates(subset=['PlayerName'], keep='last')
df_cleaned

     PlayerName    Country IPLTeams Last Played
0   Virat Kohli      India      RCB  2024-03-29
1  Rohit Sharma      India       MI  2024-03-29
3      MS Dhoni      India      RPS  2016-03-29
5   Pat Cummins  Australia      SRH  2024-03-29